# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID:-}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET:-}
      - MASTER_KEY_B64=${MASTER_KEY_B64:-}
    volumes:
      - sqlite_data:/app/server
    depends_on:
      - db-init

  db-init:
    build: .
    command: python manage.py migrate
    volumes:
      - sqlite_data:/app/server
    environment:
      - DJANGO_SETTINGS_MODULE=server.settings
      - MASTER_KEY_B64=${MASTER_KEY_B64:-}

volumes:
  sqlite_data: